*.o
*.suo
*.sdf
*.ncb
*.user
*.orig
*.vcxproj
*.filters
attrtypes.inl
elementtypes.inl
ragnarok
/attrtypes.inl
/elementtypes.inl
standalone/Debug*
standalone/obj*
standalone/*Upgrade*
standalone/ipch
standalone/test.html
standalone/ragnarok.opensdf
standalone/ragnarok.sln.old