@import url("../../coredoc/coredoc.css");

h1:after
{
  content: "[Deprecated: STP 0 will be replaced by STP 1]";
  color: #f60;
  font-weight: bold;
  display: block;
}

h3 { font-weight: bold; font-style: italic }
h3::before { font-style: normal }
.string { color: #600; }
.comment { color: #060; text-decoration: none; }
.comment a { color: #066; text-decoration: underline; }

