body
{
	font-family: Helvetica, Arial, sans-serif;
}

a
{
	color: #6666FF;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.left
{
	float: left;
	margin-right: 3em;
}

.title
{
	font-weight: bold;
	font-size: 150%;
	color: #6f6f6f;
}

.author
{
	color: #6f6f6f;
}

.page
{
	border-top: 3px solid #dddddd;
	margin-top: 1em;
}

.page:first-child
{
	border: none;
}

.page_title
{
	font-weight: bold;
	color: #6f6f6f;
	padding: 1ex 0 1ex 0;
}

.definition
{
	font-family: "Lucida Console", "Courier New", monospace;
}

.yaml
{
	font-family: "Lucida Console", "Courier New", monospace;
	border: 1px dashed #b0c4de;
	margin: 1ex 0 1ex 2ex;
	padding: 1ex;
	display: inline-block;
	width: auto;
	line-height: 1.3em;
}

.yaml_key
{
	border: 1px solid #00ff00;
}

.yaml_value
{
	border: 1px solid #ff0000;
}

.yaml_value span
{
	border-color: #ff0000;
}

.yaml_block span
{
	border-color: #0000ff;
}

.yaml_multi 
{
	border: 0px;
}

.yaml_multi span.first, .yaml_multi span.middle, .yaml_multi span.last 
{
	display: inline-block;
	width: 13em;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

.yaml_multi span.first
{
	border-top-width: 1px;
}

.yaml_multi span.last
{
	border-bottom-width: 1px;
}

.yaml_anchor, .yaml_ref
{
	font-style: italic;
	font-weight: bold;
}
