@media projection
{
	body
	{
		font-size: 150%;
	}
	
	.page
	{
		border: none;
		page-break-after: always;
		padding-left: 3em;
	}
	
	.title
	{
		font-size: 300%;
		text-align: center;
		margin-top: 3em;
	}
	
	.author
	{
		text-align: center;
	}
	.page_title
	{
		font-size: 200%;
	}
}

