table.toc {
  border: 2px solid black;
  padding: 5px;
  width: 100%
}

table.toc caption {
  font-size: larger;
  font-weight: bold
}

table.toc tr td:first-child {
  width: 10em
}

div.normal {
  margin-top: 1cm
}

div.toc-object, div.toc-class, div.toc-interface {
  margin-left: 0.5cm
}

div.object, div.class, div.interface, div.constructor {
  border: 1px solid black;
  padding: 5px;
  margin: 5px
}

div.optional, div.supported, div.origin, div.specification {
  margin-left: 20px;
  font-size: small
}

div.members {
  margin-top: 6px
}

.name, .macro, .feature {
  font-family: monospace
}

a.display-value {
  float: right
}

div.footer {
  margin-top: 0.5cm;
  text-align: center;
  font-size: smaller
}
