<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.testwidget"
        version="0.0.1"
        height="50"
        width="100"
        viewmodes="windowed floating">
  
  <name short="test">
    W3C Test Widget with enabled opera API
  </name>

  <feature name="http://opera.com/widgets/features/api" required="true"/>
</widget>
