/Debug
/Release
/Makefile
/Makefile.in
/acinclude.m4
/aclocal.m4
/configure
/config.*
/libtool
/ltmain.sh
/ltconfig
/stamp-h*
/.deps
/diagrams
/libltdl
/*.sbr
/Debug
/Release
/*.dll
/*.ilk
/*.ncb
/*.plg
/*.opt
/Debug_Unicode
/Release_Unicode
