@charset "utf-8";
/* Stylesheet for the Opera bookmarks */
/* Copyright 2012 Opera Software */
@media not print {
html {
	font-family: sans-serif;
	font-size: 100%;
	color: hsl(0,0%,22%);
	background-color: hsl(0,0%,93%);
	margin: 0 auto 10px;
	border-width: 0 1px;
	border-style: solid;
	border-color: hsl(0,0%,57%);
	max-width: 800px;
}
body {
	text-align: center;
	color: inherit;
	background-color: hsl(0,0%,96%);
	margin: 0;
}
div.limited li {
	text-overflow: ellipsis;
	overflow: hidden;
}
h1 {
	font-family: sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-align: right;
	letter-spacing: -1px;
	color: hsl(0,0%,29%);
	background-color: hsl(0,0%,94%);
	background-image: url(images/top.svg);
	padding: 15px 10px;
	margin: 0;
	border-top: 5px solid hsl(0,100%,35%);
	border-bottom: 1px solid hsl(0,0%,57%);
}
html[dir="rtl"] h1 {
	text-align: left;
	letter-spacing: normal;
}
a {
	color: hsl(0,0%,29%);
	background-color: transparent;
}
p {
	font-size: 75%;
	font-weight: bold;
	text-align: left;
	line-height: 130%;
	background-color: hsl(0,0%,98%);
	padding: 5px;
	margin: 20px;
	border: 1px solid hsl(0,0%,85%);
	border-width: 1px 1px 1px 5px;
}
p::after {
	content: "";
	clear: both;
	display: block;
}
input {
	font-family: monospace;
	font-size: 100%;
	color: WindowText;
	margin: 5px;
	width: 500px;
	float: right;
	box-sizing: content-box;
}
html[dir="rtl"] input {float: left;}
button {
	font-size: 75%;
	vertical-align: top;
	margin: 0 5px;
	width: 15%;
	display: inline-block;
}
body::after {
	content: "";
	background-color: hsl(0,0%,98%);
	background-image: url(images/center.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	border-top: 1px solid hsl(0,0%,57%);
	height: 20px;
	width: 100%;
	display: block;
}}
@media tv, handheld {html {font-size: 150%;}}
@media screen and (max-width: 740px), projection and (max-width: 740px), tv and (max-width: 740px), handheld and (max-width: 740px) {
	html {margin: 0 auto;}
	input {
		width: 95%;
		margin: 5px auto;
		float: none;
		display: block;
	}
	button {
		margin: 3px;
		width: auto;
	}
}
@media screen and (max-width: 280px), projection and (max-width: 280px), tv and (max-width: 280px), handheld and (max-width: 280px) {
	h1 {
		text-align: center;
		padding: 10px 5px;
	}
	p {margin: 10px;}
}

