@charset "utf-8";
/* Stylesheet for WML documents */
/* Copyright 2012 Opera Software */
@namespace url("http://www.wapforum.org/2001/wml");
wml, template, card, p, br, pre {
	font-size: 12px;
	display: block;
}
wml {
	color: black;
	background: white;
	padding: 0.1em;
}
template {
	background: #DDDDDD;
	padding: 0.1em;
	margin-bottom: 0.1em;
}
img {margin: 0.3em;}
timer {display: none;}
card {
	text-align: left;
	background: #EEEEEE;
	padding: 0;
	display: block;
}
do {
	white-space: nowrap;
	color: ButtonText;
	background: ButtonFace;
	padding: 0.05em;
	margin: 0.05em 0.45em 0.05em 0.05em;
	border: 0.1em black outset;
}
wml|do:active {
	background: ButtonText;
	color: ButtonFace;
}
do[type="prev"]::before {content: "Previous";}
do[type="next"]::before {content: "Next";}
do[type="accept"]::before {content: "Accept";}
do[type="options"]::before {content: "Options";}
do[label]::before {
	content: attr(label);
	font-style: normal;
}
a, go, anchor {
	color: blue;
	text-decoration: underline;
}
a:visited {color: purple;}
go, anchor {display: inline;}
onevent[type="onenterforward"] go::before {content: "Please press forward";}
p {padding: 0.3em;}
p:first-child {margin-top: 0;}
p, p[align="left"] {text-align: left;} 
p[align="center"] {text-align: center;}
p[align="right"] {text-align: right;}
strong, b {font-weight: bold;}
i, em {font-style: italic;}
u {text-decoration: underline;}
big {font-size: larger;}
small {font-size: smaller;}
pre {white-space: pre;}
table {display: table;}
tr {display: table-row;}
td {display: table-cell;}
fieldset {display: block;} 
select {max-width: 100%;}
