@charset "utf-8";
/* Stylesheet for opera:widgets and opera:unite */
/* Copyright 2012 Opera Software */

@import url(opera.css);

#btn_wrapper button, input[type=button]{
	font:inherit;
	padding:3px;
	min-width:6em;
	margin-right:6px;
}
fieldset {
	padding:12px;
	border-radius:6px;
}
label {
	width: 100%;
}
label>a {
	color: blue;
}
#btn_wrapper {
	padding-top:6px;
	padding-bottom:6px;
	box-shadow: inset 0px 8px 20px 2px #ececec;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border: 1px solid #ccc;
	padding:6px;
	border-radius:6px;
}
#gadget_list{
	width:100%;
	min-height:1.5em;
	border:2px solid silver;
	border-radius:6px;
	margin-top:12px;
}
#overlay {
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	height:100%;
	background-color:silver;
	display:none;
}
#dwrapper{
	width:80%;
	height:80%;
	margin:auto auto;
	border-radius:6px;
	margin-top:5%;
	background-color:white;
	border:2px outset ActiveBorder;
}
#info{
	padding:12px;
	overflow:auto;
	height:90%;
}
#dtitle>input{
	width:100%;
	text-align:right;
	font-size:11px;
	padding:0;
}
#info>table{
	width: 90%;
	margin:auto 5%;
}
#info>table td{
	border-bottom:1px solid black;
}
#info>table th{
	text-align:left;
}
#dtitle{
	text-align:right;
	background-color:darkgray;
}

#header h1 {
	box-shadow: inset 0px 0px 20px 3px #ececec;
	border-radius:6px;
	padding:12px;
}
@media screen and (max-width: 760px), projection and (max-width: 760px), tv and (max-width: 760px) {
	body { padding: 0 5%; width: 100%; margin: 0; box-sizing: border-box;}
	body, table, tbody, tr, th, td {display: block;}
	input[type=password], input[type="text"], input[type="number"], input[type="file"] {float: none; width: 90%;margin: 0 auto;}
	th, td {padding: 1%}
	fieldset input {
		margin: 0 !important;
		display: block;
	}
	h1 {
		font-size: 180%;
		padding: 20px 0 6px 0;
		margin: 0;
	}
}

