<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:jil="http://www.jil.org/ns/widgets1.2">
	<name>Test Camera widget</name>
	<content src="index.html"/>
	<jil:access network="false" localfs="true" remote_scripts="false" />
	<feature name="http://jil.org/jil/api/1.1/widget" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/multimedia" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.2/camera" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exception" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exceptiontypes" required="true"/>
</widget>
