<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets"
         xmlns:jil="http://www.jil.org/ns/widgets1.2">
	<name>Test Messaging widget</name>
	<content src="index.html"/>

	<feature name="http://jil.org/jil/api/1.1/messaging" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exception" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exceptiontypes" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/message" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/messagetypes" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/widget" required="true"/>

	<jil:access localfs="yes"/>
</widget>

