<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.testwidget/bidi"
        version="0.0.1"
        height="50"
        width="100"
        mode="widget">
  
  <name short="bidi_test">
    W3C DIR/SPAN Test Widget
  </name>

  <content src="index.html"
           type="text/html;charset=iso-8859-1"
           encoding="utf-8"/>

  <author dir="lro"><span dir="lro">&#x05E7;&#x05D7;</span>&#x05DC;&#x05DC;<span dir="rlo">&#x05DD;&#x05E4;</span></author>
</widget>
