<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.testwidget"
        version="0.0.1"
        height="50"
        width="100"
        mode="widget">

  <content src="index.html"
           type="text/html"
           encoding="utf-8"/>

  <description>
    This is the description text (no locale).
    Multiple lines.
  </description>
  <description xml:lang="nb-NO">
    This is the description text (nb-NO).
    Multiple lines.
  </description>
  <description xml:lang="en">
    This is the description text (en).
    Multiple lines.
  </description>

  <author email="core-extapps@opera.com"
          href="http://www.opera.com"
          img="http://www.opera.com/media/images/logo/ologo_wback.gif">
		  <test>Core</test> <test>Extapps</test>
  </author>

  <update uri="http://www.opera.com/updatewidget.php?name=testwidget&amp;version=0.0.1"/>

  <feature name="http://www.w3.org/TR/geolocation-API" />
</widget>
