<?xml version="1.0" encoding="utf-8"?>
<widget>
  <widgetname>GadgetsTest</widgetname>
  <description>
    Selftest widget for gadgets module.
  </description>
  <width>100</width>
  <height>50</height>
  <author>
    <name>Marcin Grzeskowiak</name>
    <link>http://www.opera.com</link>
    <organization>Opera Software ASA</organization>
  </author>
  <id>
    <host>http://www.opera.com</host>
    <name>GadgetsTest</name>
    <revised>2010-12</revised>
  </id>
  <icon>icon_16.png</icon>
  <icon width="32" height="32" alt="icon_32">icon_32.png</icon>
  <icon>icon_64.png</icon>
</widget>
