<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.testwidget"
        version="0.0.1"
        height="50"
        width="100"
        viewmodes="windowed floating">
  
  <name short="test">
    W3C Test Widget
  </name>
  
  <content src="src/main.html"
           type="text/html;charset=iso-8859-1"
           encoding="utf-8"/>

  <description>Test desc</description>
  <license href="http://www.opera.com/testlicense.html" xml:lang="">
    Licenese text
  </license>

  <author email="core-extapps@opera.com"
          href="http://www.opera.com"
          img="http://www.opera.com/media/images/logo/ologo_wback.gif">
    <blink>Core Extapps</blink>
  </author>
</widget>
