# Entries automatically added by module_cleaner.py
selftest/data/Favorites/Elg2.url -crlf
selftest/data/Favorites/Links.with_dot/Subfolder/Opera browser Home page.url -crlf
selftest/data/Favorites/Links.with_dot/Subfolder/Subsubfolder/OperaCommunity.url -crlf
selftest/data/Favorites/www.sau.no.url -crlf
selftest/data/Favorites/www.ulv.no.URL -crlf
setup/missingpluginhover.svg -crlf
skin/standard_skin_new/widgets/opera-widget-manager.svg -crlf
skin/standard_skin_new/widgets/widget.svg -crlf
