# -*- tab-width: 4 -*-
#
# Architecturally significant requirements
#
# These requirements are taken from the following groups:
#
#   * Requirements that cannot be satisfied by one or a small set
#     of system components without dependence on the rest of the
#     system.  (This implies: all systemwide properties and
#     quality requirements.)
#
#   * Requirements that address processes of manipulating
#     multiple components -- system building and configuring.
#
#   * Properties of the product family that makes it unique, 
#     competitive, and worth building.
#
# Requirements are categorized as FUNCTIONAL or QUALITY.  

FUNCTION.STANDARDS_COMPLIANT


FUNCTION.WEB_COMPLIANT

	Opera should have functionality that allows web content to be
	loaded and viewed even when that web content is not conforming to
	published standards.

	Typical examples include poorly formatted HTML, missing content
	types, and proprietary extensions or behaviors implemented by our
	competitors.

	The requirement .STANDARDS_COMPLIANT takes precedence if there is
	a conflict.


QUALITY.SPEED

QUALITY.MEMORY_USE

QUALITY.FOOTPRINT

QUALITY.RESPONSIVE

QUALITY.NONCRASHING

	Opera may not crash in response to predictable error conditions,
	such as out-of-memory, out-of-disk.

QUALITY.NONHANGING

QUALITY.PRIVACY

QUALITY.SECURITY

QUALITY.PORTABLE

	Opera shall be able to run on systems that provide the
	capabilities outlines in "Minimal required platform capabilities".

QUALITY.CONFIGURABLE

	Run-time: Preferences
	Language file
	...
