<?xml version="1.0"?>
<!-- <?xml-stylesheet href="style.css" type="text/css"?> -->
<?xml-stylesheet type="text/xsl" href="events.xsl"?>

<supportdocument>
<title>List of supported events in SVG</title>
  <list>
    <col1>Event name</col1>
    <col2>Is dispatched</col2>
    <col3>Comments</col3>
  
    <event supported="yes" version="1.1, 1.2T">
      <name>SVGLoad</name>
      <elements>all elements</elements>
      <comments>Is dispatched when 'load' is received on the root element.</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>SVGError</name>
      <elements>image</elements>
      <comments>Is dispatched when 'error' is received on the element.</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>SVGResize</name>
      <elements></elements>
      <comments>Is dispatched when ...</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>SVGScroll</name>
      <elements></elements>
      <comments>Is dispatched when ...</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>SVGZoom</name>
      <elements></elements>
      <comments>Is dispatched when ...</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>beginEvent</name>
      <elements>animation and media elements</elements>
      <comments>Is dispatched when the animation begins.</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>endEvent</name>
      <elements>animation and media elements</elements>
      <comments>Is dispatched when the animation ends.</comments>
    </event>
    <event supported="yes" version="1.1, 1.2T">
      <name>repeatEvent</name>
      <elements>animation and media elements</elements>
      <comments>Is dispatched when the animation repeats.</comments>
    </event>
    <event supported="no" version="1.2T">
      <name>SVGTimer</name>
      <elements></elements>
      <comments>setInterval and setTimeout are available instead.</comments>
    </event>
  </list>
</supportdocument>
