/* xsl transformed */

*
{
	font-family: sans-serif;
}


table.main
{
	width: 800px;
}

th
{
	background-color: #668;
	color: white;
}

th.supported
{
	background-color: #338;
}

td, th
{
	padding: 2px;
	font-size: 10px;
}

/* support */

td.supported, td.unsupported
{
	text-align:center;
}

td.supported
{
	color: #160;
	background-color: #eeb;
}

tr.even td.supported
{
	background-color: #dda;
}

td.unsupported
{
	font-weight: bold;
	color: black;
	background-color: #f99;
}

tr.even td.unsupported
{
	background-color: #e88;
}

/* selftest */

td.selftest, td.noselftest
{
	text-align:center;
}

td.selftest
{
}

tr.even td.selftest
{
}

td.noselftest
{
	font-weight: bold;
	color: black;
}

tr.even td.noselftest
{
}

tr.even
{
	background-color: #f4f4f4;
}
