# Entries automatically added by module_cleaner.py
testsuite/animate_filter_contents.svg -crlf
testsuite/demo/boerse.svg -crlf
testsuite/demo/kites.svg -crlf
testsuite/demo/snowman_eu.svg -crlf
testsuite/demo/snowman_us.svg -crlf
testsuite/demo/snowman_us_simple.svg -crlf
testsuite/dom/games/qbert/q-bert0.2.svg -crlf
testsuite/dom/games/yast/game.svg -crlf
testsuite/dom/games/yast/yast.js -crlf
testsuite/dom/textfunctions_02.svg -crlf
testsuite/grad_animation.svg -crlf
testsuite/svghome0.svg -crlf
testsuite/zoomon/HULK_trailerWIntro.svg -crlf
testsuite/zoomon/PenaltyKickWIntro.svg -crlf
testsuite/zoomon/SpiderManWIntro.svg -crlf
testsuite/zoomon/bilbrakWIntro.svg -crlf
testsuite/zoomon/imageGallery.svg -crlf
testsuite/zoomon/monsterWIntro.svg -crlf
testsuite/zoomon/piperWIntro.svg -crlf
testsuite/zoomon/raceResults.svg -crlf
testsuite/zoomon/racingCarsWIntro.svg -crlf
testsuite/zoomon/spacemenWIntro.svg -crlf
testsuite/zoomon/stockReport.svg -crlf
