BODY { 
  margin: 2em;
  font-family: sans-serif;
  background: white;
  color: black;
  border-bottom: thin solid black;
}

H1, H2, H3 {
  font-weight: normal
}
 
DL {
  margin-bottom: 3em;
  padding: 0.3em;
  background: #EEE;
}

DT { 
  font-weight: bold
}

H1 { 
  clear: both;
}

IMG.logo { 
  float: right;
}

TABLE {
  border-style: solid;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-collapse: collapse;
}

TH {
  text-align: left;
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

TD {
  text-align: left;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.ins {
  color: green;
}
