# Entries automatically added by module_cleaner.py
selftest/testfiles/simple/SmallDocument.txt -crlf
selftest/testfiles/simple/handheld.css -crlf
selftest/testfiles/simple/media000.css -crlf
selftest/testfiles/simple/template.css -crlf
