# Path to the data/translations/ tree in Git working copy
# example: /home/user/git/translations/data/translations
cvsdir=

# Path to the external translator Subversion working copy
# example: /home/user/svn/translations
svndir=

# Root folder to save logs in
# example: /home/user/logs
logrootdir=
