<?xml version="1.0" encoding="UTF-8" ?>
<oh>
    <widget xmlns='http://www.w3.org/ns/widgets'>
        <name>tc-widget element not at root</name>
        <description>Test invalid configuration document with widget element not at the root.</description>
        <author href='http://www.opera.com/' email='harig@opera.com'>Hari Kumar G, Opera Software</author>
        <content src='index.html' />
    </widget>
</oh>
