<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets">
	<name>Test Calendar widget</name>
	<content src="index.html"/>

	<feature name="http://jil.org/jil/api/1.2/widget" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exception" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exceptiontypes" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.1/pim" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/calendaritem" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/eventrecurrencetypes" required="true"/>
</widget>
