html {
  background: #e4e4e4 url(bg.png) 50% 0 repeat-y;
  text-align: center;

}
  
body {
	background: transparent url(logo.png) 1px 0 no-repeat;
	text-align: left;
	width: 560px;
	margin: 0px auto;
	padding: 80px 20px 10px 20px;   
	font-family: verdana,sans-serif;
	font-size: 12px;
	color: #000;
}

h1 {
	font-size: 1.3em;
	margin-top: 3em;
	border-bottom: 1px solid #ccc;
}

p {
	padding: 10px;
	line-height: 2em;
	background-color: #eee;
	border: 1px solid #ccc;
}

a {
	color: #c00;
	text-decoration: none;

}
a:hover {
	color: #fff;
	background-color: #c00;
	outline: 1px solid #a00;
}

img {
	float: left;
}

ul {
	list-style: none;
	padding-left: 10px;
	margin-left: 10px;
	line-height: 1.4em;
}
ul li{
	background-color: #fafafa;
	padding: 5px;
	padding-left: 70px;
	border: 1px solid #fafafa;
}

ul.widgets li{
	padding-left: 5px;
	height: 48px;
	clear: both;
}
ul.widgets li:hover{
	background-color: #fff;
	border-color: #eee;
	cursor: pointer
}   
ul.widgets li img{
	margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
      
}