# Entries automatically added by module_cleaner.py
hunspell_3p/src/hunspell/hunspell.dsp -crlf
hunspell_3p/src/win_api/Hunspell.rc -crlf
hunspell_3p/src/win_api/Hunspell.sln -crlf
hunspell_3p/src/win_api/hunspell.vcproj -crlf
hunspell_3p/src/win_api/hunspelldll.c -crlf
hunspell_3p/src/win_api/hunspelldll.dev -crlf
hunspell_3p/src/win_api/libhunspell.vcproj -crlf
hunspell_3p/src/win_api/testparser.vcproj -crlf
