# Entries automatically added by module_cleaner.py
tools/signing-scripts/fail_signedfile1a.txt -crlf
tools/signing-scripts/fail_signedfile2a.txt -crlf
tools/signing-scripts/fail_signedfile_a.txt -crlf
tools/signing-scripts/success_signedfile_a.txt -crlf
