# Entries automatically added by module_cleaner.py
documentation/adaptive_zoom/paragraph_rects.html -crlf
selftest/tests/width_traversal/dnse.html -crlf
selftest/tests/width_traversal/resources/horizont.css -crlf
selftest/tests/width_traversal/vgno.html -crlf
