# Entries automatically added by module_cleaner.py
selftest/input/imported/valid/P03/ibm03v01.xml -crlf
selftest/input/imported/valid/eduni/026.xml -crlf
selftest/input/imported/valid/eduni/027.xml -crlf
selftest/input/imported/valid/eduni/028.xml -crlf
selftest/input/imported/valid/eduni/029.xml -crlf
selftest/input/imported/valid/xmltest/ext-sa/004.ent -crlf
selftest/input/imported/valid/xmltest/ext-sa/009.ent -crlf
selftest/input/imported/valid/xmltest/not-sa/002.ent -crlf
