.hide, .hide-handheld, #srch, .jsMenu, blockquote img, #slogan, #lang, .dl img.right, #myopera, .feature img, #index li li li {
	display:none !important;
	}

body {
	background:#ccc;
	margin:0;
	padding:0;
	font-family:'vera sans',helvetica,sans-serif;
	line-height:1.5;
	}

#top {
	padding-bottom:3px;
	}

#wrap1 {
	clear:both;
 	background:#fff url(top00000.gif) top left repeat-x;
	max-width:420px;
	margin:auto;
	border-top:4px solid #c20000;
	padding:0 7px;
	}
	
#menu ul, .nobullets, #top-menu {
	list-style:none;
	margin:0;
	}

#menu li, #top-menu li {
      display:block;
	float:left;
	line-height:1;
	padding:0 6px 7px 0;
	}

#menu a:link, #menu a:visited, #menu a:active, #top-menu a {
	color:#000;
	}

#menu a.selected, #top-menu a.on {
	text-decoration:none;
	font-weight:bold;
	}

img, #dlform input[type=image], object {
	max-width:100%;
	}

form, #index ul {
	margin:0;
	padding:0;
	}

.price, .new_price span, .smallprice {
	color:#b72d2d;
	font-weight:bold;
	}

a:link, a:active {
	color:#05c;
	background:transparent;
	text-decoration:underline;
	}

a:visited {
	color:#000;
	text-decoration:underline;
	}

em, .parent {
	font-style:normal;
	font-weight:bold;
	}

#index li li, #index li .parent  {
	margin-left:10px;
	font-weight:normal;
	}

input {
	margin:0 3px;
	font-size:1em;
	}

img, abbr, acronym {
	border:none;
	}

ol, ul {
	margin:0 0 8px 5px;
	padding:0;
	}

dl {
	margin:0;
	padding:0;
	}

li {
	margin:0;
	padding:0;
	font-size:1em;
	list-style-position:inside;
	}

p {
	margin:5px 0;
	padding:0;
	}

table, textarea {
	width:100%;
	}

input[type=text] {
	width:96%;
	}

td, th, tr {
	font-size:1em;
	text-align:left;
	display:block;
	margin:0;
	padding:0;
	}

tr {
	border-bottom:1px solid #eaeaea;
	}

dt, dd {
	margin:5px 0;
	padding:0;
	}

dt {
	background:#eee;
	margin-top:10px;
	}

#footer {
	background:#eee;
	margin-top:10px;
	padding:2px 0;
	border-top:1px solid #333;
	}

#footer span {
	display:block;
	padding-bottom:5px;
	}

.nomarg {
	margin:0;
	}

h1, h2 {
	clear:both;
	font-size:1.3em;
	border-top:1px solid #999;
	margin:7px -7px;
	padding:4px 7px;
	}

h1, .mobheader h2 {
	margin:7px -7px;
	background:#eee;
        }

#step2 h2, h3, h4, h5, h6, td, th {
	background:#fff;
	border:none;
	font-size:1em;
	padding:0 7px;
	margin:7px -7px;
	}

.clear, #wrap4, .box2 {
	clear:both;
	}

select {
	font-size:1em;
	max-width:90%;
	margin-bottom:10px;
	vertical-align: middle;
	}

#side h2 a {
	color:#000;
	text-decoration:none;
	}

#side ul ul {
	margin: 0 0 0 1em;
	}
	
img.right {
	float:right;
	max-width:45%;
	margin:0.5em;
	}

.pad {
	padding:0 5px;
	margin:0;
	}

blockquote {
	margin:5px 0 0 0;
	padding:4px 4px 5px 22px;
	background:#ffa url(q1000000.gif) top left no-repeat;
	}

.heshesaid {
	background:#ffa;
	margin-top:0;
	padding:5px;
	}


#linklogin {
	margin:5px;
	background:#f6f6f6;
	border:1px solid #ccc;
	}

#linklogin div {
	padding:6px;
	border-bottom:1px solid #ccc;
	}

#linklogin p {
	margin:4px 0;
	}

.inputfield {
	width:98%;
	}

#linklogin a {
	color:#222;
	}

#linklogin .noteit {
	background:#eee;
	border-top:1px solid #fff;
}

.big-top h1 {
background:#fff;
color:#000;
}

#rightcol img {
float:right;
}