@media screen and (max-width: 760px) {

#slogan, #lang, blockquote.gfx img {
	display:none;
	}

#srch {
	margin-top:28px;
	width:200px;
	background:transparent;
	}

#srchbox {
	width:110px;
	}

#col2, .c1, .c2 {
	width:100%;
	max-width:100%;
	background:#fff;
	}

blockquote.gfx p {
	background:#fff;
	}

}
