/*--------------*/
/* RESET STYLES */
/*--------------*/

body {
	margin: 0; padding: 0;
	}
	
ul, li, ol, dd, dt, dl {
	margin: 0 0 0 0; padding: 0;
	}
	

	

/*------------------*/
/* FONT SIZE STYLES */
/*------------------*/

	.xs {
		font-size: 8px;
		line-height: 10px;
		}

	.s {
		font-size: 12px;
		line-height: 15px;
		}
			
	.m { 
		font-size: 14px; 
		line-height: 18px;
		}
			
	.l {
		margin: 10px 0 15px 0;
		font-size: 16px;
		line-height: 22px;
		}
		
	.ml {
		font-size: 18px;
		}
		
	.xl {
		font-size: 20px;
		line-height: 26px;
		}
		
	.xxl {
		font-size: 24px;
		line-height: 32px;
		}


/* Under dev by Eivind */

/*------------------*/
/* MARGIN TEMPLATES */
/*------------------*/
	

.nomarg {
	margin: 0 !important;
	}
	
.marg10 {
	margin: 10px !important;
	}

.marg10-1 {
	margin-top: 10px !important;
	}
	
.marg10-2 {
	margin-right: 10px !important;
	}
	
.marg10-3 {
	margin-bottom: 10px !important;
	}
	
.marg10-4 {
	margin-left: 10px !important;
	}
	
.marg10-24 {
	margin: 0 10px !important;
	}
	
.marg10-13 {
	margin: 10px 0 !important;
	}
	
.left.marg10 {
	margin: 10px 10px 10px 0 !important;
	}
	
.right.marg10 {
	margin: 10px 0 10px 10px !important;
	}
	
/* Margin 20px */
.marg20 {
	margin: 20px !important;
	}
	
.marg20-1 {
	margin-top: 20px !important;
	}
	
.marg20-2 {
	margin-right: 20px !important;
	}
	
.marg20-3 {
	margin-bottom: 20px !important;
	}
	
.marg20-4 {
	margin-left: 20px !important;
	}
	
.marg20-24 {
	margin: 0 20px !important;
	}
	
.marg20-13 {
	margin: 20px 0 !important;
	}

.left.marg20 {
	margin: 20px 20px 20px 0 !important;
	}
	
.right.marg20 {
	margin: 20px 0 20px 20px !important;
	}
	
.marg20 {
	margin: 20px !important;
	}
	
/* Margin 30px */
.marg30 {
	margin: 30px !important;
	}
	
.marg30-1 {
	margin-top: 30px !important;
	}
	
.marg30-2 {
	margin-right: 30px !important;
	}
	
.marg30-3 {
	margin-bottom: 30px !important;
	}
	
.marg30-4 {
	margin-left: 30px !important;
	}
	
.marg30-24 {
	margin: 0 30px !important;
	}
	
.marg30-13 {
	margin: 30px 0 !important;
	}

.left.marg30 {
	margin: 30px 30px 30px 0 !important;
	}
	
.right.marg30 {
	margin: 30px 0 30px 30px !important;
	}
	
.marg30 {
	margin: 30px !important;
	}
	
	
/*---------------------*/
/* BASIC STYLE CLASSES */
/*---------------------*/
			
/* a {
	color: #cc0000;
	} */
			
.left {
	float: left;
	}
	
.right {
	float: right;
	}
	
.clear {
	clear: both;
	}
	
.clearleft {
	clear: left;
	}
	
.clearright {
	clear: right;
	}
	
.red {
	color: #cc0000;
	}
a img { /* Firefox fix */
	border: none;
	}
	
/* as of yet inactive
a {
	color: #cc0000;
	}
	
a:hover {
	text-decoration: none;
	}*/