<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.updatetestwidget"
        version="1.0.0"
        height="50"
        width="100"
        mode="widget">

  <icon width="16"
        height="32"
        src="test.png"
        alt="testimage">
  </icon>

  <access network="yes"
          plugins="yes"
          files="yes">
  </access>

  <content src="index.html"
           type="text/html"
           charset="utf-8">
  </content>

  <description>
    This is the description text.
    Multiple lines.
  </description>

  <author email="core-extapps@opera.com"
          href="http://www.opera.com"
          img="http://www.opera.com/media/images/logo/ologo_wback.gif">
  </author>

  <update uri="test_update_data.xml">
  </update>

</widget>