# Entries automatically added by module_cleaner.py
module.actions -crlf
selftest/tests/ws_bbc_hi.mht -crlf
selftest/tests/ws_google_en.mht -crlf
selftest/tests/ws_google_hi.mht -crlf
selftest/tests/ws_google_iw.mht -crlf
selftest/tests/ws_google_ja.mht -crlf
selftest/tests/ws_google_kn.mht -crlf
selftest/tests/ws_google_ru.mht -crlf
selftest/tests/ws_google_th.mht -crlf
