/* Core standard style sheet: */
@import "../../../modules/coredoc/coredoc.css";
/* Relative path presumes Opera-under-platform layout of directories.
 * A ../../modules symlink in ../../../ will suffice to fake correct behaviour.
 */

/* Common styles: */
.warning:before { content: "NB:" }
.warning, .todo { font-style: italic; }
.deprecate { color: gray; }
a.url:before { font-family: monospace; content: attr(href); }

/* Making #include <...> easier to type ... */
q.stdinc { font-family: monospace; }
q.stdinc:before { content: "<"; }
q.stdinc:after { content: ">"; }
