# Entries automatically added by module_cleaner.py
selftest/testfiles/mhtml_redirect/archive.mht -crlf
selftest/testfiles/multipart_invalid/bad_boundary.2.mpc -crlf
selftest/testfiles/multipart_invalid/bad_boundary.2.mpc.1.data -crlf
selftest/testfiles/multipart_invalid/bad_boundary.2.mpc.1.headers -crlf
selftest/testfiles/multipart_invalid/bad_boundary.2.mpc.2.data -crlf
selftest/testfiles/multipart_invalid/bad_boundary.2.mpc.2.headers -crlf
selftest/testfiles/multipart_invalid/empty1.1.mpc -crlf
selftest/testfiles/multipart_invalid/empty2.1.mpc -crlf
selftest/testfiles/multipart_invalid/empty2.1.mpc.1.headers -crlf
selftest/testfiles/multipart_invalid/long_boundary.2.mpc -crlf
selftest/testfiles/multipart_invalid/long_boundary.2.mpc.1.data -crlf
selftest/testfiles/multipart_invalid/long_boundary.2.mpc.1.headers -crlf
selftest/testfiles/multipart_invalid/long_boundary.2.mpc.2.data -crlf
selftest/testfiles/multipart_invalid/long_boundary.2.mpc.2.headers -crlf
selftest/testfiles/multipart_invalid/no_close_boundary.1.mpc -crlf
selftest/testfiles/multipart_invalid/no_close_boundary.1.mpc.1.data -crlf
selftest/testfiles/multipart_invalid/no_close_boundary.1.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/bug242906.2.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/bug242906.2.mpc.2.headers -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc.1.data -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc.2.headers -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc.3.headers -crlf
selftest/testfiles/multipart_valid/bug253945.4.mpc.4.headers -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.1.data -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.2.headers -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.3.headers -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.4.headers -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.5.data -crlf
selftest/testfiles/multipart_valid/constructed_testcase.5.mpc.5.headers -crlf
selftest/testfiles/multipart_valid/empty1.1.mpc -crlf
selftest/testfiles/multipart_valid/long_lines.2.mpc -crlf
selftest/testfiles/multipart_valid/long_lines.2.mpc.1.data -crlf
selftest/testfiles/multipart_valid/long_lines.2.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/long_lines.2.mpc.2.data -crlf
selftest/testfiles/multipart_valid/long_lines.2.mpc.2.headers -crlf
selftest/testfiles/multipart_valid/sfr.fr_1.16.mpc.1.data -crlf
selftest/testfiles/multipart_valid/strange_boundary.2.mpc -crlf
selftest/testfiles/multipart_valid/strange_boundary.2.mpc.1.data -crlf
selftest/testfiles/multipart_valid/strange_boundary.2.mpc.1.headers -crlf
selftest/testfiles/multipart_valid/strange_boundary.2.mpc.2.data -crlf
selftest/testfiles/multipart_valid/strange_boundary.2.mpc.2.headers -crlf
