# All files in this directory are compared by CompareFileAndURL function as binary so they should be checked-out as binary files 
simple/*.css -crlf
simple/*.js -crlf
simple/*.txt -crlf
ranges/*.* -crlf

