<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets">
	<name>Test AccelerometerInfo widget</name>
	<content src="index.html"/>
	<feature name="http://jil.org/jil/api/1.1/widget" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/device" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.1/datanetworkinfo" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/datanetworkconnectiontypes" required="true"/>
</widget>
