<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.jil.org/ns/widgets"
         id="0df9f49e-c46d-4300-9ea4-e1c0f1f8398a"
         version="1.0.Beta"
         height="640"
         width="480">
    <name>JIL Test Widget</name>
    <description>JIL Test Widget Description</description>
    <author email="test@opera.com" href="http://test.opera.com">Test Author Name</author>
    <license href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License</license>
    <update href="http://www.jil.org/widgets/" period="1"/>
    <content type="text/html" src="index.html" charset='utf-8'/>
    <access network="true" localfs="true" remote_scripts="false"/>
    <maximum_display_mode height="200" width="100" />
    <billing required="false" />
    <feature name="http://jil.org/jil/api/1.1/filesystem" required="true"/>
    <icon src="imgs/icon.png" height="64" width="64" />
</widget>
