BODY {
color:black;
  background:#FFFFe5;
  margin-left: 20px;
  margin-right: 20px;
  font-family: verdana, arial, helvetica, Sans-Serif;
}
a:hover {
  color: #000000;
  background-color: #f0d0d0;
}
table {
    font-family: verdana, arial, helvetica, Sans-Serif;
    border: thin solid black;
}
td {
    padding: 3px;
    font-size: smaller;
    font-family: verdana, arial, helvetica, Sans-Serif;
    border: thin solid black;
}
h1 {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-align: left;
    margin-left: -20px;
    border-bottom: #da0000 solid 3px;
    margin-top: 5%;
}
h2 a:link {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #da303c;
}
h2 a:visited {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #802000;
}
h3, h4, h5, h6 {
    margin-left: -5px;
    font-family: verdana, arial, helvetica, Sans-Serif;
/*    font-weight: bold;*/
    border-bottom: #da303c solid 1px;
}
h2 {
    font-family: verdana, arial, helvetica, Sans-Serif;
    margin-left: -10px;
    color: black;
    border-bottom: #da303c solid 2px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

@media print {
  div.footer, div.header {
    display: none;
  }
}

pre {
    border: #646464 1px solid;
    padding: 0.5em;
    background-color: #f6e6e6;
    color: black;
    margin-left: 1em;
}
#note pre {
    padding: 0.2em;
    margin: 0em;
    border: none;
    background-color: white;
}

div#note {
   display:    block;
   margin-left: 10px;
   padding: 10px;
   float: right;
   width: 30%;
   font-size:  smaller;
   background: white;
   border:     1px dotted black;
}

tt {
   background-color: #f6e6e6;
   color: black;
}

code {
   background-color: #f6e6e6;
   color: black;
   font-weight: bold;
}
