<?xml version="1.0" encoding="utf-8"?>
<widget network="public private">
  <widgetname>Gadgets selftest</widgetname>
  <description>
    Selftest widget for gadgets module.
  </description>
  <width>100</width>
  <height>50</height>
  <author>
    <name>Lasse Magnussen</name>
    <link>http://www.opera.com</link>
    <organization>Opera Software ASA</organization>
  </author>
  <id>
    <host>www.opera.com</host>
    <name>GadgetsTest</name>
    <revised>2008-12-11</revised>
  </id>
  <security>
    <access>
      <protocol>ftp</protocol>
      <protocol>http</protocol>
      <protocol>https</protocol>
    </access>
    <content plugin="no" java="no" />
  </security>
  <update-description href="http://www.opera.com/updatewidget.php?name=testwidget&amp;version=0.0.1"/>
</widget>
