<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://com.opera.testwidget"
        version="0.0.1"
        height="50"
        width="100"
        viewmodes="windowed floating">
  
  <name short="test">
    W3C Test Widget
  </name>

  <icon width="64"
        height="48"
        src="src/test.png"
        alt="testimage"/>

  <icon src="src/circle.svg"
        alt="svg icon"/>

  <access origin="http://myopera.com"/>
  <access origin="http://opera.com" subdomains="true"/>
  <access origin="http://google.com:4242"/>
  
  <content src="src/main.html"
           type="text/html;charset=iso-8859-1"
           encoding="utf-8"/>

  <description>
    This is the description text (no locale).
    Multiple lines.
  </description>
  <description xml:lang="nb-NO">
    This is the description text (nb-NO).
    Multiple lines.
  </description>
  <description xml:lang="en">
    This is the description text (en).
    Multiple lines.
  </description>
  <description xml:lang="foo">
    <span dir="rlo">!arepO</span>
    <span dir="ltr">Software ASA</span>
    More description text.
  </description>

  <license href="http://www.opera.com/testlicense.html" xml:lang="">
    Licenese text
  </license>

  <license href="http://www.opera.com/somelicense.html" xml:lang="foo">
    Licenese text
  </license>

  <author email="core-extapps@opera.com"
          href="http://www.opera.com"
          img="http://www.opera.com/media/images/logo/ologo_wback.gif">
    <blink>Core Extapps</blink>
  </author>

  <preference name="test1" value="PASS"/>
  <preference name="test2" value="FAIL"/>

  <feature name="invalidiri" required="false"/>
  <feature name="hello hello:hi hi" required="false"/>
  <feature name="feature:a9bb79c1" required="true="/>

  <update-description href="http://www.opera.com/updatewidget.php?name=testwidget&amp;version=0.0.1"/>
</widget>
