<?xml version='1.0' encoding='UTF-8'?>
<widget defaultmode="application">
  <widgetname>Probe log viewer</widgetname>
  <description>Simple visualization tool for probe logs</description>
  <feature name="http://xmlns.opera.com/fileio"/>
  <width>1000</width>
  <height>602</height>
  <author>
    <name>David Vest</name>
    <email>davve@opera.com</email>
    <link>http://www.opera.com</link>
    <organization>Opera Software ASA</organization>
  </author>
  <id>
    <host>www.opera.com</host>
    <name>probe-log-viewer</name>
    <revised>2011-01</revised>
  </id>
</widget>
