<?xml version="1.0" encoding="utf-8"?>
<widget network="public private">
  <widgetname>SecurityManagerTest</widgetname>
  <description>
    Selftest widget for security_manager module.
  </description>
  <width>100</width>
  <height>50</height>
  <author>
    <name>Lasse Magnussen</name>
    <link>http://www.opera.com</link>
    <organization>Opera Software ASA</organization>
  </author>
  <id>
    <host>http://www.opera.com</host>
    <name>SecurityManagerTest</name>
    <revised>2007-04-11</revised>
  </id>
  <security>
    <access>
      <protocol>ftp</protocol>
    </access>
    <access>
      <protocol>http</protocol>
    </access>
    <access>
      <protocol>https</protocol>
    </access>
    <content plugins="no" java="no" />
  </security>
</widget>
