/*.d
/documentation/hardcore.doxytags
/module.generated
/module.sources_protobuf
/setup
/src/generated
/base/capabilities.h
/base/operasetup.h
/base/tweaks_and_apis.h
/component/OpComponentCreate.inc
/features/features-configured.h
/features/features-thirdparty_attributions.inl
/features/features.h
/features/profile_*.h
!/features/profile_template.h
/keys/opkeys.h
/keys/opkeys_mappings.inc
/mh/generated_messages.h
/mh/generated_message_strings.inc
/opera/*_generated.inl
/opera/components.h
/opera/components.inc
/opera/hardcore_opera.inc
/opera/opera.h
/component/OpComponentCreate.inc
/scripts/corepch.cached
/tweaks/profile_tweaks_*.h
!/tweaks/profile_tweaks_template.h
# Each sub-directory has a different .ran-* file touched by make.
.ran-*
