<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets"
         xmlns:jil="http://www.jil.org/ns/widgets1.2">
	<name>Test Config widget</name>
	<content src="index.html"/>
	<feature name="http://jil.org/jil/api/1.1/widget" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/device" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/devicestateinfo" required="true"/>
	<feature name="http://jil.org/jil/api/1.1/config" required="true"/>
	<jil:access network="true" localfs="true" remote_scripts="false" />
</widget>
