body#frontpage{background:#fff;}


/*sprites*/
body#frontpage .containerTop,
body#frontpage .containerBottom,
body#frontpage .container,
a.tipsVG,
ul.tabBoxNav,
ul.tabBoxNav li a,
ul.tabBoxNav li a.selected  {background-image: url(sprite_p.png);}
#logoHead,
#weatherConfig a.closeBtn {background-image: url('sprite_f.png');}
.ad,
.adTop {background-image: url('admark_r.gif');}
#papiravis,
#moteplassenFrontBoks h2 a:link,
#moteplassenFrontBoks h2 a:visited,
#moteplassenFrontBoks h2 a:hover,
#vgHurraFrontBoks h2 a:hover,
#vgHurraFrontBoks h2 a:link,
#vgHurraFrontBoks h2 a:visited,
#vgHurraFrontBoks h2 a:hover,
#vgHurraFrontBoks p.newEntry a:link,
#vgHurraFrontBoks p.newEntry a:visited,
#vgHurraFrontBoks p.newEntry a:hover,
#lekegrind #bloggliste h2 a,
#lekegrind #debattliste h2 a,
#lekegrind #nettby,
#tvGuide ul#days,
#tvGuide ul#progcontent,
#tvGuide .channel div.logo,
#tvGuide .channel h3,
#footer p.rssBox {background-image: url('sprite_g.png');}


body#frontpage .containerTop,
body#frontpage .containerBottom{width:1016px;line-height: 0;font-size: 0;clear:both;background-color:#fff;}
body#frontpage .containerTop {height:8px;background-repeat: no-repeat; background-position: -9px 0;}
body#frontpage .containerBottom {height:6px;;background-repeat: no-repeat; background-position: -9px -11px;}
body#frontpage .container {padding:7px 16px 0 10px;background-color:#fff;background-repeat: repeat-y; background-position: 1011px 0;}

.ad {padding:0 0 10px 0;background-repeat:no-repeat; background-position: right top;}
.adTop {padding:5px 10px 0 10px;background-repeat: no-repeat; background-position: right 5px; width:990px;}
.adTagHorizRight {text-align: right; font-family:arial,helvetica,sans-serif; font-size: 11px;}

#outerRightContainer,
#outerRightStickyContainer {position:absolute;left:1020px;}
#outerRightContainer {top:0;padding:5px 0 0 0;width:190px;/*annonsebredde + 10px*/}
#outerRightStickyContainer {top:1500px; /* summen av høyden på annonsene over + marger */}
#stickyAd {width:190px;/*annonsebredde + 10px*/}

#header, #mainMenu {position:relative;z-index:1000;}
#leftCol,#rightCol,#footer {margin-bottom:10px;}

.colRow:after,.container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.colRow,.container {display:inline-block;}
* html .colRow,* html .container {height:1%;}
.colRow,.container {display:block;}


#logoHead {position:relative;margin-bottom: 5px;height:110px;background-repeat: no-repeat;background-position: 0 0;}
#logoHead :-moz-any-link:focus {outline: none;}
#logoHead a.mainLogo {position: absolute;top: 14px;left: 0;display: block;width:195px;height:71px;text-indent: -5000px;}
#logoHead .topGif {position: absolute;top: 0;left: 197px;width:390px;height:60px;}

#logoHead .topLeft,
#logoHead .topMiddle,
#logoHead .topRight {position:absolute;top:2px;font-family:arial,helvetica,sans-serif;font-size:9px;color:#fff;line-height:8px;}
#logoHead .topMiddle {left:595px;}
#logoHead .topRight {right:5px;}
#logoHead .topLeft {left:0;width:193px;text-align:center;font-weight:bold;}
#logoHead .topRight a,
#logoHead .topMiddle a,
#logoHead .topLeft a {color:#fff;	text-decoration:none;}
#logoHead .topRight a:hover,
#logoHead .topMiddle a:hover,
#logoHead .topLeft a:hover{color:#000;text-decoration:none;}

/*værboksen i headeren*/
#logoHead .weatherBox {position: absolute;top:14px;left: 590px;padding-left: 5px;  width:153px;height:46px;font-size: 11px;line-height:13px;background: transparent url(weatherI.png) no-repeat;}
#logoHead .weatherBox h3 {margin:1px 0 2px;}
#logoHead .weatherBox h3 a {font-size:12px;color:#000;text-decoration: none;}
#logoHead .weatherBox span.temp {color:#e00b04;font-weight:bold;}
#logoHead .weatherBox p a {color:#00f;}
#logoHead .weatherBox p a:hover {color:#e00b04;}
#logoHead .weatherIcon1 {background-position: 110px 0;}
#logoHead .weatherIcon2 {background-position: 110px -50px;}
#logoHead .weatherIcon3 {background-position: 110px -100px;}
#logoHead .weatherIcon4 {background-position: 110px -150px;}
#logoHead .weatherIcon5 {background-position: 110px -200px;}
#logoHead .weatherIcon6 {background-position: 110px -250px;}
#logoHead .weatherIcon7 {background-position: 110px -300px;}
#logoHead .weatherIcon8 {background-position: 110px -350px;}
#logoHead .weatherIcon9 {background-position: 110px -400px;}
#logoHead .weatherIcon10 {background-position: 110px -450px;}
#logoHead .weatherIcon11 {background-position: 110px -500px;}
#logoHead .weatherIcon12 {background-position: 110px -550px;}
#logoHead .weatherIcon13 {background-position: 110px -600px;}
#logoHead .weatherIcon14 {background-position: 110px -650px;}
#logoHead .weatherIcon15 {background-position: 110px -700px;}
#logoHead .weatherIcon16 {background-position: 110px -750px;}
#logoHead .weatherIcon17 {background-position: 110px -800px;}
#logoHead .weatherIcon18 {background-position: 110px -850px;}
#logoHead .weatherIcon19 {background-position: 110px -900px;}
#logoHead .weatherIcon20 {background-position: 110px -950px;}
#logoHead .weatherIcon21 {background-position: 110px -1000px;}
#logoHead .weatherIcon22 {background-position: 110px -1050px;}
#logoHead .weatherIcon23 {background-position: 110px -1100px;}
#logoHead .weatherIcon24 {background-position: 110px -1150px;}
#logoHead .weatherIcon25 {background-position: 110px -1200px;}
#logoHead .weatherIcon26 {background-position: 110px -1250px;}

/* boks med innstillinger for været */

#weatherConfig {z-index:10000; position: absolute; top: 59px; left: 590px; width:398px; padding-bottom: 12px; background: #E0E8ED url(bak_stor.png) bottom right no-repeat; -moz-border-radius-bottomleft: 10px; -webkit-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-radius-bottomright: 10px; border: 1px solid #7e9db9; border-top: none; -moz-box-shadow: 3px 3px 5px #666; -webkit-box-shadow: 3px 3px 5px #666; display: none;}
#weatherConfig input {width: 290px; height: 15px; margin: 5px; padding: 5px; border: 1px solid #7e9db9;}
#weatherConfig input.loading {background:#fff url(ajaxLoad.gif) no-repeat center right;}
#weatherConfig a.closeBtn {float: right; margin: 6px 7px 0 0; display: block; width: 53px; height: 17px; text-indent: -5000px; background-position: -138px -145px; }
#weatherList ul {margin: 5px 5px 10px; height: 200px; overflow: auto; font-size: .92em;}
#weatherList ul li {margin-right: 5px; border-bottom: 1px dotted #ccc;}
#weatherList ul li a {padding:2px 0 2px 5px;display:block;color: #444;}
#weatherList ul li a:hover, #weatherList ul li a:focus {color: #e30;}
#weatherList ul li.hilite {background: #fff;}

/*slutt - værboksen i headeren*/

#logoHead .bigColumnSearchSesam {
	position: absolute;
	top: 14px;
	left: 750px;
	width: 240px;
	height:46px;
}
#logoHead form p {clear:left;text-align:right;}
#logoHead .bigColumnSearchSesam label{vertical-align:middle;}
#logoHead input.googleSearch {
	float:left;
	margin:3px 0 0 7px;
	height:18px;
	padding:3px 0 0 3px;
	width:161px;
	border:1px solid #7e9db9;
	border-bottom:1px solid #65839d;
}
#logoHead input.bigSesamSubmit {
	float:left;
	margin:3px 0 0 0;
	border:1px solid #3c4c59;
	border-width: 1px 0;
}
#logoHead form ul {clear:left;float:right;}
#logoHead form li {float:left; padding:0 6px 0 3px;}
#logoHead form li .smallRadio {margin-right: 2px;}
#logoHead label {display:block;font-size: 11px;}

#topReferral .drfront {margin-bottom:5px;}

a.tipsVG {display:block; margin-bottom:2px; width:390px; height:27px; text-indent: -5000px; background-color:#000; background-repeat: repeat-y; background-position: -792px -18px;}

/* Siste nytt, mest lest, mest sett */
#mostPopular {margin-bottom:10px; }

ul.tabBoxNav {width:390px; background-repeat:repeat-x; background-position: -10px -18px;}
ul.tabBoxNav li, ul.tabBoxInnerNav li {float:left; display:inline;}
ul.tabBoxNav li {text-align:center; width:130px; font-size:16px;}
ul.tabBoxNav li a {display:block; background-position: -270px -18px; height:25px; line-height:25px; color:#fff; text-decoration:none;}

ul.tabBoxInnerNav li a {color:#000;}
ul.tabBoxInnerNav li a:hover {color:#e00b04;}
ul.tabBoxInnerNav {background:#e2e9ee;/*display:none*/;}
ul.tabBoxInnerNav li {padding:5px 0 5px 5px;}
ul.tabBoxNav li a:hover {font-size:18px; color:#fff; text-decoration:none;}
ul.tabBoxNav li a.selected {background-position:-661px -18px; text-decoration:none; color:#fff; font-size:18px;}
ul.tabBoxInnerNav li a.selected {text-decoration:none; color:#000; font-weight:bold;}

ul.tabBoxNav li a.visited {text-decoration:none; color:#fff;}
ul.tabBoxNav li a:focus, ul.tabBoxInnerNav li a:focus {outline:0;}

.tabBoxContent {clear:both; border-width:4px 1px 1px 1px; border-style:solid; border-color:#19c; padding-bottom: 8px; font-size: .92em; -moz-border-radius-bottomleft: 10px; -webkit-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-radius-bottomright: 10px;}

.tabBoxContent p, .tabBoxContent dl {background:#fff;}
.tabBoxContent dl { height:156px; overflow:auto; }
.tabBoxContent dl.mestLestListe, .tabBoxContent dl.mestSettListe {height:180px;}
.tabBoxContent dt {width:12%; float:left; padding:2px 5px; border-top:1px dotted #ccc;}
/* commented backslash hack for mac-ie5 \*/ .tabBoxContent dt {clear:both; } /* end hack */
.tabBoxContent dd {width:85%; float:left; padding:2px 0; border-top:1px dotted #ccc;}
.tabBoxContent dl:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} /*auto-cleares floats*/
.tabBoxContent dl a {display:block;}
.tabBoxContent dl a:link {color:#00f;}
.tabBoxContent dl a:visited {color:#808080;}
.tabBoxContent dl a:hover, a:active {color:#e00b04;}
.tabBoxContent dl a.active {color:#e00b04;}

.tabBoxContent dl.mestLestListe dt,.tabBoxContent dl.mestSettListe dt{width:25px;}
.tabBoxContent dl.mestLestListe dd,.tabBoxContent dl.mestSettListe dd{width:335px;}

/* Jobbnytt - style */
#front-87 .bg-jobbnytt {margin:0; padding:0; background:url('t0000000.gif'); font-size:12px; font-family: arial,helvetica,sans-serif; margin-bottom:30px;}
#front-87 .bg-jobbnytt h3 {position:relative; background: url('sprite_s.jpg') no-repeat 50% -510px; border:solid #25758f;border-width:0 1px;}
#front-87 .bg-jobbnytt h3 a:link, #front-87 .bg-jobbnytt h3 a:visited, #front-87 .bg-jobbnytt h3 a:hover {height:30px; display:block;text-indent:-5000px;}
#front-87 .bg-jobbnytt ul {position:relative;  margin:0; padding:5px; border:solid #25758f;border-width:0 1px;}
#front-87 .bg-jobbnytt ul li {list-style-type: none;list-style-position: outside;}
#front-87 .bg-jobbnytt ul li a * {color:#000;}
#front-87 .bg-jobbnytt ul li a {display:block; padding:5px; text-decoration:none; color:#000;}
#front-87 .bg-jobbnytt ul li a:link, #front-87 .bg-jobbnytt ul li a:visited {background:#fff}
#front-87 .bg-jobbnytt ul li.odd a:link, #front-87 .bg-jobbnytt ul li.odd a:visited {background:#def;}
#front-87 .bg-jobbnytt ul li a:hover,#front-87 .bg-jobbnytt  ul li.odd a:hover {background:#ff9; text-decoration:none;}
#front-87 .bg-jobbnytt ul li strong {display:block;font-weight:bold;}
#front-87 .bg-jobbnytt ul li a em.lesmer {font-style:normal; color:#00f;}
#front-87 .bg-jobbnytt p.bunnen {display:block; padding:3px 0; margin:0; text-align:center; color:#fff; background:#25758f; -moz-border-radius-bottomleft: 10px; -webkit-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-radius-bottomright: 10px; border: 0px solid #25758f;}
#front-87 .bg-jobbnytt p.bunnen a:link, #front-87 .bg-jobbnytt p.bunnen a:visited {color:#fff;}

/* LEKEGRIND */

#audienceCol .drfront {margin-bottom:0;}

#lekegrind {margin-bottom:10px;/*background:#E3E9EF;padding:3px 0;width:988px;border:1px solid #8DADC6;*/}
/*#lekegrind .span-12 {margin:0 2px 0 2px;}*/
/*#lekegrind .span-8 {margin:0 2px 0 2px;}*/
#lekegrind #nettby,
#lekegrind #papiravis,
#lekegrind #bloggliste,
#lekegrind #debattliste {margin-bottom:10px;}
#lekegrind .ad {margin-bottom:0;padding-bottom:0;}
#lekegrind .colRow {margin-bottom:3px;}
#lekegrind .span-8 .colRow {margin-bottom:0;}

#papiravis {padding:2px; background-color:#777; background-repeat: no-repeat; background-position: -772px -91px; font-size:.85em;color:#fff;}
#papiravis img {margin:0 0 5px 45px;}
#papiravis a {color:#fff;}
#papiravis form {border-top: 1px solid #000;}

/* Møteplassen */
#moteplassenFrontBoks {height:408px;width:188px;background:#FCFAED; border:1px solid #8EAF00; position:relative; font-size:.85em; text-align: center;}
#moteplassenFrontBoks h2 a:link,
#moteplassenFrontBoks h2 a:visited,
#moteplassenFrontBoks h2 a:hover {display:block; height:50px; margin:0; padding:0; background-repeat:no-repeat; background-position: -582px -139px; text-indent:-5000px; text-decoration:none;}
#moteplassenFrontBoks h3 {color:#8EAF00; text-align:center;font-size:1.22em;}
#moteplassenFrontBoks ul li{margin-bottom:5px;}
#moteplassenFrontBoks li.ownSex select {width:90px;}
#moteplassenFrontBoks li.seeksSex select {width:90px;}
#moteplassenFrontBoks li.province select {width:100px;}
#moteplassenFrontBoks input {float:right; margin-right: 5px;}
#moteplassenFrontBoks #moteplassensok { float: right; }
#moteplassenFrontBoks img { height:203px; width:151px;margin:15px auto 0 auto;}

/* VG Hurra  */
#vgHurraFrontBoks {height:410px; width: 188px; position:relative;border: 1px solid #FE4564; border-width: 0 1px;}
#vgHurraFrontBoks h2 a:link,
#vgHurraFrontBoks h2 a:visited,
#vgHurraFrontBoks h2 a:hover {display:block; height:91px; margin:0; padding:0; background-repeat:no-repeat; background-position: -392px -121px; text-indent:-5000px; text-decoration:none;}
#vgHurraFrontBoks h3 a:link,
#vgHurraFrontBoks h3 a:visited,
#vgHurraFrontBoks h3 a:hover {color:#bf011d;}
#vgHurraFrontBoks h4,
#vgHurraFrontBoks p {margin:0;}
#vgHurraFrontBoks img {border:0;}
#vgHurraFrontBoks p.newEntry a:link,
#vgHurraFrontBoks p.newEntry a:visited,
#vgHurraFrontBoks p.newEntry a:hover {display:block; position:absolute; bottom:0; left:0; height:47px; width:188px;  background-repeat:no-repeat; background-position: -582px -91px;  text-indent:-5000px; text-decoration:none;}
#vgHurraFrontBoks ul {position:relative; padding:0; margin:0; list-style-type:none;}
#vgHurraFrontBoks ul li {position:absolute; display:none; top:0; left:0; text-align:center; width:100%;}
#vgHurraFrontBoks h3 {margin:0px; padding-bottom:0 0 2px 0; font-size:.85em; font-weight:bold; color:#bf011d; text-align:center;}
#vgHurraFrontBoks ul li img {width:172px;}
#vgHurraFrontBoks ul li h4,
#vgHurraFrontBoks ul li p {color:#343434; padding-left:4px; padding-right:4px;}
/*dilbert*/
#dilbert {width:588px;border: 1px solid #000;}
/*MortenM*/
#mortenm {width:138px;border: 1px solid #000;}
#mortenm h2 {background: #000; text-align: center; color: #fff; font-weight: normal;}
/* Spill */
#spill {height:162px;background:#7EA821; border:1px solid #4d6614; font-size:.85em;}
#spill a {color:#000;}
#spill h3 {padding:2px;font-size:1.22em;color:#fff; text-align: center; text-transform: uppercase;}
#spill ul {height:118px;padding:3px;margin:0 4px;background: #E3ECD1;}
#spill li {padding:2px 0; border-top: 1px solid #e8efd9; clear:left;}
#spill li.first {border: none;}
#spill li.first img.icon {float:left; margin:0 5px 1px 0;}
#spill li p.play {clear:left;}
#spill a.playBtn {display:block;float:right;padding:1px 5px;border:1px solid #4d6614; text-decoration:none;text-align: center;background: #7ea821;color: #fff;}
#spill p.spillFooter {padding:1px;text-align: center;}
#spill p.spillFooter a{color:#fff;}
/* bloggliste og debattliste */
#lekegrind #bloggliste {background: #fff;border: 1px solid #F1AD45; border-width: 0 1px 1px;}
#lekegrind #bloggliste h2 a {display: block; height: 52px; width: 388px; color: #fff; background-color:#e00; background-repeat: no-repeat; background-position: 0 -120px; font-size: 1px; text-decoration: none;}
#lekegrind #bloggliste dl,
#lekegrind #debattliste dl {color: #333; padding-bottom: 4px;}
#lekegrind #bloggliste dt {clear: both; padding:6px 10px;color: #049;}
#lekegrind #bloggliste dd.excerpt {padding-bottom: 5px; border-bottom:1px solid #f1dfc3;}
#lekegrind #debattliste {background: #f6e9cb;}
#lekegrind #debattliste h2 a {display: block; height: 46px; width: 390px; color: #fff; background-color:#249; background-repeat: no-repeat; background-position: 0 -172px; font-size: 1px; text-decoration: none;}
#lekegrind #debattliste dt {position:relative; clear: both; padding:6px 10px; color: #049;}
#lekegrind #bloggliste dd,
#lekegrind #debattliste dd {padding:0 10px;font-size: .85em;}
#lekegrind #debattliste dd {padding-bottom:3px;border-bottom:1px solid #fff;}
#lekegrind #bloggliste dl a:link,
#lekegrind #bloggliste dl a:visited,
#lekegrind #debattliste dl a:link,
#lekegrind #debattliste dl a:visited {color: #049; text-decoration: none;}
#lekegrind #bloggliste dl a:hover,
#lekegrind #debattliste dl a:hover {text-decoration: underline;}
#lekegrind #bloggliste:after, #lekegrind #debattliste:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;} /*auto-cleares floats*/
/* nettby */
#lekegrind #nettby {clear: both; height: 100px; width: 590px; background-repeat: no-repeat; background-position: 0 -219px;}
#lekegrind #nettby h2 a {display: block; float: left; height: 100px; width: 289px; text-indent: -5000px; text-decoration: none;}

#lekegrind #nettby ul {font-size: .85em;}
#lekegrind #nettby li {display: inline;}
#lekegrind #nettby li a {display: block; float: left; display: inline; height: 60px; width: 138px; overflow: hidden; margin: 31px 10px 0 0; color: #000; text-decoration: none;}
#lekegrind #nettby li img {float: left; margin-right: 3px; border: none;}

#lekegrind #nettby li strong {display: block; float: left; color: #99b308; text-decoration: underline;}
#lekegrind #nettby li span {padding-right: 10px;}
#lekegrind #nettby li span.male,
#lekegrind #nettby li span.female  {background-image: url(nettby_m.png);background-repeat: no-repeat}
#lekegrind #nettby li span.male {background-position: right 4px ;}
#lekegrind #nettby li span.female {background-position: right -16px;}

#lekegrind #nettby:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;} /*auto-cleares floats*/

/* TV-guide */

#tvGuide h2 {margin-bottom:1px;}
#tvGuide .customContent {padding-bottom: 5px; -moz-border-radius-bottomleft: 10px; -webkit-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-radius-bottomright: 10px;}
#tvGuide ul {list-style:none; margin:0; padding:0; font-size:.92em;}
#tvGuide li {display:inline; margin:0;}
#tvGuide ul:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
#tvGuide ul#days {position:relative; margin-bottom:1px; line-height: 30px; width:990px; height:30px; text-align:right; text-transform:uppercase; font-weight:bold; background-color:#f90; background-repeat: no-repeat; background-position: 0 -30px;}
#tvGuide ul#days li {margin:0 15px;}
#tvGuide ul#days li a:link, #tvGuide ul#days li a:visited {color:#fff; text-decoration:underline; }
#tvGuide ul#days li a:hover {color:#000; text-decoration:underline;}
#tvGuide ul#days li a.today:link, #tvGuide ul#days li a.today:visited, #tvGuide ul#days li a.today:hover {color:#000; text-decoration:none;}
#tvGuide ul#days li#tvLink {position:absolute; top:0; left:0; padding:0;}
#tvGuide ul#days li a.returnButton {display:block;width:250px;height:30px;}

#tvGuide ul#progcontent {height:20px; line-height:20px; margin-bottom: 5px; color:#444; background-repeat:no-repeat; background-position: 0 -65px;}
#tvGuide ul#progcontent li {margin:0 10px;}
#tvGuide ul#progcontent li.first {text-transform:uppercase;}
#tvGuide ul#progcontent li a:link, #tvGuide ul#progcontent li a:visited {font-weight:; color:#000; text-decoration:none;}
#tvGuide ul#progcontent li a:hover {color:#fff; text-decoration:underline;}
#tvGuide .colRow {margin-bottom:10px;}
#tvGuide .channel div.logo { float:left; width:30px; height:30px; background-repeat:no-repeat;}
#tvGuide .channel div.logo_nrk1 {background-position: -236px -90px;}
#tvGuide .channel div.logo_nrk2 {background-position: -267px -90px;}
#tvGuide .channel div.logo_nrk3 {background-position: -298px -90px;}
#tvGuide .channel div.logo_tv2 {background-position: -329px -90px;}
#tvGuide .channel div.logo_tv2z {background-position: -360px -90px;}
#tvGuide .channel div.logo_tvn {background-position: -391px -90px;}
#tvGuide .channel div.logo_tv3 {background-position: -422px -90px;}
#tvGuide .channel h3 { margin:0 0 0 5px; height:30px; line-height:30px;; text-align:center; color:#fff; background-repeat:no-repeat; background-position: 0 -90px;}
/* program list */
#tvGuide .channel dl {position:relative; display:block;width:239px; height:200px; overflow:auto; margin:0; font-size:.92em; border:1px solid #ccc; border-width: 0 0 1px 1px;}
#tvGuide .channel dt {position:relative; left:5px; top:.1em; width:5em; font-weight:normal;}
#tvGuide .channel dd {margin:-1.1em 0 0 4em; padding:0; cursor: pointer; }
#tvGuide .channel dl .past {color: #999;}
#tvGuide .channel dl .now {font-weight: bold;}
#tvGuide .channel dt span.slutt {font-style: italic;}
#tvGuide .channel dd.title.slutt {color: #444; font-style: italic;}
#tvGuide .channel dd.description {margin: 5px 5px 5px 18px; font-size: .9em;}
#tvGuide .channel dd.description a.calendar {display: block; padding-left: 20px; background: transparent url(icon_cal.png) 0 0 no-repeat;}
#tvGuide .channel dd.description a:link, #tvGuide .channel dd.description a:visited {height: 17px; color: #d33;}
#tvGuide .channel dd.description a:hover {color: #900;}

#tvGuide .channel dd.description a.vgdice {display: block; height: 19px; padding-left: 20px; background: transparent url(icon_vgd.png) 0 0 no-repeat;}
#tvGuide .channel dd.description a.userdice {display: block; padding-left: 20px; background: transparent url(icon_use.png) 0 0 no-repeat;}

#tvGuide .channel dd.description a.dice1 {background-position: 0 -40px;}
#tvGuide .channel dd.description a.dice2 {background-position: 0 -80px;}
#tvGuide .channel dd.description a.dice3 {background-position: 0 -120px;}
#tvGuide .channel dd.description a.dice4 {background-position: 0 -160px;}
#tvGuide .channel dd.description a.dice5 {background-position: 0 -200px;}
#tvGuide .channel dd.description a.dice6 {background-position: 0 -240px;}
#tvGuide #tvfavorites h3 {margin: 0; background: #777; color: #fff; text-indent: 3px; text-transform: uppercase; font-size: .8em; text-align: center; }
#tvGuide #tvfavorites dl {margin: 0; border: 1px solid #ccc; border-bottom: none;}
#tvGuide #tvfavorites dt {clear: both; margin: 0; padding: 5px 0 1px 45px; font-weight: bold; background: transparent url(tiny_gra.png) 0 1px repeat-x; }
#tvGuide #tvfavorites dd {margin: 0; padding: 0 0 5px 45px; color: #999; border-bottom: 1px solid #bbb;}
#tvGuide #tvfavorites dd.logo {float: left; margin: -16px 0 0; padding: 0 0 0 5px; border: none;}
#tvGuide #tvfavorites dd.description { display: block; color: #333; }
#tvGuide #tvfavorites dd.description a.calendar {display: block; padding-left: 20px; background: transparent url(icon_cal.png) 0 0 no-repeat;}
#tvGuide #tvfavorites dd span.percent { float: right; margin-right: 10px; }
#tvGuide #tvfavorites .logo img {width: 30px; height: 30px;}
#tvGuide #tvfavorites p.basedon { text-align: right; }
.hoverprogram {text-decoration: underline;}

#footer {position: relative; clear: both; margin: 10px 0 0; padding-bottom: 30px; text-align: center;}
#footer a:link, #footer a:visited {color: #900;}
#footer a:hover {color: #000;}

#footer ul {list-style-type: none; margin: 10px 0 5px; padding: 1px 0 3px; background: #19c;}
#footer li {display: inline; padding: 0; color: #6bd;}
#footer li a:link, #footer li a:visited {color: #cef; text-decoration: none;}
#footer li a:hover {color: #fff; text-decoration: underline;}

#footer p {margin: 2px 0 0;}
#footer p.rssBox {margin:15px auto 0 auto; padding-left:20px; width:110px; text-align:left; background-repeat:no-repeat; background-position: -582px -190px;}
#footer p.tips {margin: 15px 0; font-weight: bold;}
#footer p.tips strong {color: #19c;}
#footer p.tips a:link, #footer p.tips a:visited {color: #19c; text-decoration: underline;}
#footer p.tips a:hover {color: #000;}

/* Finn-søkeboks i høyrespalten */
#finnboks {padding:3px;margin-bottom:10px; background:#A2D2EE; color:#006;}
#finnboks a {float:left; display:block; height:22px; width:150px; line-height: 22px;color:#006; text-decoration: none;}
#finnboks img { padding-right:5px; vertical-align: middle;}
#finnboks form {float:right;}
#finnboks form .button {height:21px;background-color:#0099FF;border-color:#6CC4FF #0068AD #00497A #38AFFF;border-style:solid;border-width:1px;color:white;cursor:pointer;font-weight:bold;margin:0 2px;padding:0 1px 1px 0;}
#finnboks form .text {width:180px;height:16px;}






