/********** RESET **********/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{margin:0;padding:0;}
input{ padding:0;width:auto;overflow:visible;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
legend{color:#000;}
address,caption,cite,code,dfn,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
q:before,q:after{content:'';}
strong {font-weight:bold;}
a img {border:0;}


/********** FONTS **********/

/*
	10px = 77%
	11px = 85%
	12px = 	92%
	13px = 	100%
	14px = 	107%
	15px = 	114%
	16px = 	122%
	17px = 	129%
	18px = 	136%
	19px = 	144%
	20px = 	152%
	21px = 	159%
	22px = 	167%
	23px = 	174%
	24px = 	182%
	25px = 	189%
	26px = 	197%

*/


body {font:13px arial, helvetica, sans-serif;*font-size:small;*font:x-small}
table {font-size:inherit;font:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#000;text-decoration:none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#000;text-decoration:underline;}
a:focus, a:hover {color:#000;text-decoration:underline;}
a {color:#e00b04;}
a.menuLink {color:#000;}
a:focus.menuLink, a:hover.menuLink{color:#e00b04;}
/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}
/**
 * Bump up !IE to get to 13px equivalent
 */
pre, code {font:115% monospace;*font-size:100%;}

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}


/********** GRID **********
	== STRUCTURE: ========================
	* Page width:            990 px
	* Number of columns:     20
	* Column width:          40 px
	* Margin width:          10 px
	======================================
*/


div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20 {float:left;margin-right:10px;display:inline;}

div.last {margin-right:0;}
.span-1  { width: 40px;}
.span-2  { width: 90px;}
.span-3  { width: 140px;}
.span-4  { width: 190px;}
.span-5  { width: 240px;}
.span-6  { width: 290px;}
.span-7  { width: 340px;}
.span-8  { width: 390px;}
.span-9  { width: 440px;}
.span-10 { width: 490px;}
.span-11 { width: 540px;}
.span-12 { width: 590px;}
.span-13 { width: 640px;}
.span-14 { width: 690px;}
.span-15 { width: 740px;}
.span-16 { width: 790px;}
.span-17 { width: 840px;}
.span-18 { width: 890px;}
.span-19 { width: 940px;}
.span-20, div.span-20 { width: 990px; margin-right: 0; }

.container {width:990px;}

