#mainMenu a.siteMapLink,
#subMenu a,
.vgMenu li,
#siteMap h2,
#siteMap a.closeBtn {background-image:url('sprite_f.png');}

#mainMenu {
    position: absolute;
    top: 62px;
    left: 196px;
    width:794px;
    height: 23px;
}
#mainMenu a.siteMapLink {
	margin: 0;
    display: block;
    height: 23px;
    width: 68px;
    float: right;
    background-position: 0 -142px;
    text-indent: -5000px;
}
#mainMenu :-moz-any-link:focus,
#subMenu :-moz-any-link:focus,
#siteMap :-moz-any-link:focus {
  outline: none;
}

#subMenu  {
    position: absolute;
    top: 87px;
    left: 0;
    z-index: 1;
}
#subMenu ul.frontPage{
    position: relative;
    z-index: 1;
    height: 23px;
    width: 990px;
    line-height: 23px;
}
#subMenu li {
    float: left;
    position: relative;
}
#subMenu a {
    display: block;
    position: relative;
    text-indent: -5000px;
    height:23px;
}
#subMenu a.vgtv {width:112px;background-position: 0 -87px;}
#subMenu a.vgtv:hover {background-position: 0 -117px;}
#subMenu a.minmote {width:109px;background-position: -112px -87px;}
#subMenu a.minmote:hover {background-position: -112px -117px;}
#subMenu a.vektklubb {width:96px;background-position: -221px -87px;}
#subMenu a.vektklubb:hover {background-position: -221px -117px;}
#subMenu a.nettby {width:100px;background-position: -317px -87px;}
#subMenu a.nettby:hover {background-position: -317px -117px;}
#subMenu a.moteplassen {width:117px;background-position: -417px -87px;}
#subMenu a.moteplassen:hover {background-position: -417px -117px;}
#subMenu a.dinepenger {width:109px;background-position: -534px -87px;}
#subMenu a.dinepenger:hover {background-position: -534px -117px;}
#subMenu a.e24 {width:71px;background-position: -643px -87px;}
#subMenu a.e24:hover {background-position: -643px -117px;}
#subMenu a.vglive {width:82px;background-position: -714px -87px;}
#subMenu a.vglive:hover {background-position: -714px -117px;}
#subMenu a.vglista {width:114px;background-position: -796px -87px;}
#subMenu a.vglista:hover {background-position: -796px -117px;}
#subMenu a.kontaktoss {width:80px;background-position: -910px -87px;}
#subMenu a.kontaktoss:hover {background-position: -910px -117px;}


/*** ESSENTIAL STYLES ***/
.vgMenu, .vgMenu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.vgMenu {
    line-height: 1.0;
}
.vgMenu ul {
    position: absolute;
    top: -999em;
    width: 15em; /* left offset of submenus need to match (see below) */
}
.vgMenu ul li {width: 100%;}
.vgMenu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}
.vgMenu li {
    float: left;
    position: relative;
}
.vgMenu li.last {
    border-right: 1px solid #fff;
}
.vgMenu a {
    display: block;
    position: relative;
}
.vgMenu li:hover ul,
.vgMenu li.sfHover ul {
    left: 0;
    top: 23px; /* match top ul list item height */
    z-index: 9999;
}
ul.vgMenu li:hover li ul,
ul.vgMenu li.sfHover li ul {top: -999em;}
ul.vgMenu li li:hover ul,
ul.vgMenu li li.sfHover ul {
    left: 15em; /* match ul width */
    top: 0;
}
ul.vgMenu li li:hover li ul,
ul.vgMenu li li.sfHover li ul {
    top: -999em;
}
ul.vgMenu li li li:hover ul,
ul.vgMenu li li li.sfHover ul {
    left: 10em; /* match ul width */
    top: 0;
}

/*** SKIN ***/
.vgMenu {
    float: left;
    margin-bottom:1em;
}
.vgMenu a {
    padding: 5px .6em 4px;
    border-right: 1px solid #565656;
    border-left: 1px solid #fff;
}
.vgMenu a, .vgMenu a:hover, .vgMenu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
}
.vgMenu li li a,
.vgMenu li li li a {
    padding: .6em 1em;
    border-right: 0;
}
.vgMenu li {background-color:#000; background-position: -197px -62px; text-transform: uppercase;}
/*** default ***/ 
.vgMenu li:hover,
.vgMenu li li {background:  #ccc;}
.vgMenu li li {text-transform: none;}
.vgMenu li li li {background: #999; text-transform: none;}
.vgMenu a:focus, .vgMenu a:hover, .vgMenu a:active {background: #666;outline: 0;}
/*** nyheter ***/
.vgMenu li.nyheter:hover,.vgMenu li.nyheter li, .vgMenu li.nyheter li li a:hover  {background-color: #1644BC;} /*m?rk*/
.vgMenu li.nyheter a:focus, .vgMenu li.nyheter a:hover, .vgMenu li.nyheter a:active {background-color: #4775DD;outline: 0;} /*lys*/
.vgMenu li.nyheter li li {background-color: #4775DD;} /*lys*/
.vgMenu li.nyheter.sfHover a, .vgMenu li.nyheter li a {border-left: 1px solid #95B0EE;}
/*** sport ***/
.vgMenu li.sport:hover,.vgMenu li.sport li, .vgMenu li.sport li li a:hover  {background: #005902;} /*m?rk*/
.vgMenu li.sport a:focus, .vgMenu li.sport a:hover, .vgMenu li.sport a:active {background: #2BAC2B;outline: 0;} /*lys*/
.vgMenu li.sport li li {background: #2BAC2B;} /*lys*/
.vgMenu li.sport.sfHover a, .vgMenu li.sport li a {border-left: 1px solid #7DD67D;}
/*** fotball ***/
.vgMenu li.fotball:hover,.vgMenu li.fotball li, .vgMenu li.fotball li li a:hover  {background: #005902;} /*m?rk*/
.vgMenu li.fotball a:focus, .vgMenu li.fotball a:hover, .vgMenu li.fotball a:active {background: #2BAC2B;outline: 0;} /*lys*/
.vgMenu li.fotball li li {background: #2BAC2B;} /*lys*/
.vgMenu li.fotball.sfHover a, .vgMenu li.fotball li a {border-left: 1px solid #7DD67D;}
/*** rampelys ***/
.vgMenu li.rampelys:hover,.vgMenu li.rampelys li, .vgMenu li.rampelys li li a:hover  {background: #f90;} /*m?rk*/
.vgMenu li.rampelys a:focus, .vgMenu li.rampelys a:hover, .vgMenu li.rampelys a:active {background: #FFB240;outline: 0;} /*lys*/
.vgMenu li.rampelys li li {background: #FFB240;} /*lys*/
.vgMenu li.rampelys.sfHover a, .vgMenu li.rampelys li a {border-left: 1px solid #FFD596;}
/*** pent.no ***/
.vgMenu li.pentno:hover,.vgMenu li.pentno li, .vgMenu li.pentno li li a:hover  {background: #0E0F2D;} /*m?rk*/
.vgMenu li.pentno a:focus, .vgMenu li.pentno a:hover, .vgMenu li.pentno a:active {background: #235498;outline: 0;} /*lys*/
.vgMenu li.pentno li li {background: #235498;} /*lys*/
.vgMenu li.pentno.sfHover a, .vgMenu li.pentno li a {border-left: 1px solid #759ACC;}
/*** tv-guide ***/
.vgMenu li.tvguide:hover,.vgMenu li.tvguide li, .vgMenu li.tvguide li li a:hover  {background: #f90;} /*m?rk*/
.vgMenu li.tvguide a:focus, .vgMenu li.tvguide a:hover, .vgMenu li.tvguide a:active {background: #FFB240;outline: 0;} /*lys*/
.vgMenu li.tvguide li li {background: #FFB240;} /*lys*/
.vgMenu li.tvguide.sfHover a, .vgMenu li.tvguide li a {border-left: 1px solid #FFD596;}
/*** spill ***/
.vgMenu li.spill:hover,.vgMenu li.spill li, .vgMenu li.spill li li a:hover  {background: #1097C7;} /*m?rk*/
.vgMenu li.spill a:focus, .vgMenu li.spill a:hover, .vgMenu li.spill a:active {background: #46BCE3;outline: 0;} /*lys*/
.vgMenu li.spill li li {background: #46BCE3;} /*lys*/
.vgMenu li.spill.sfHover a, .vgMenu li.spill li a {border-left: 1px solid #95DAF1;}
/*** nyttig ***/
.vgMenu li.nyttig:hover,.vgMenu li.nyttig li, .vgMenu li.nyttig li li a:hover  {background: #17212D;} /*m?rk*/
.vgMenu li.nyttig a:focus, .vgMenu li.nyttig a:hover, .vgMenu li.nyttig a:active {background: #3C5168;outline: 0;} /*lys*/
.vgMenu li.nyttig li li {background: #3C5168;} /*lys*/
.vgMenu li.nyttig.sfHover a, .vgMenu li.nyttig li a {border-left: 1px solid #6E8096;}
/*** reise ***/
.vgMenu li.reise:hover,.vgMenu li.reise li, .vgMenu li.reise li li a:hover  {background: #97AB0C;} /*m?rk*/
.vgMenu li.reise a:focus, .vgMenu li.reise a:hover, .vgMenu li.reise a:active {background: #AFC327;outline: 0;} /*lys*/
.vgMenu li.reise li li {background: #AFC327;} /*lys*/
.vgMenu li.reise.sfHover a, .vgMenu li.reise li a {border-left: 1px solid #D4E17E;}
/*** diskusjon ***/
.vgMenu li.diskusjon:hover,.vgMenu li.diskusjon li, .vgMenu li.diskusjon li li a:hover  {background: #1097C7;} /*m?rk*/
.vgMenu li.diskusjon a:focus, .vgMenu li.diskusjon a:hover, .vgMenu li.diskusjon a:active {background: #46BCE3;outline: 0;} /*lys*/
.vgMenu li.diskusjon li li {background: #46BCE3;} /*lys*/
.vgMenu li.diskusjon.sfHover a, .vgMenu li.diskusjon li a {border-left: 1px solid #95DAF1;}
/*** g?y ***/
.vgMenu li.goy:hover,.vgMenu li.goy li, .vgMenu li.goy li li a:hover  {background: #5E0DAC;} /*m?rk*/
.vgMenu li.goy a:focus, .vgMenu li.goy a:hover, .vgMenu li.goy a:active {background: #8D41D6;outline: 0;} /*lys*/
.vgMenu li.goy li li {background: #8D41D6;} /*lys*/
.vgMenu li.goy.sfHover a, .vgMenu li.goy li a {border-left: 1px solid #BE91EB;}

/*** ADS ***/
.vgMenu li li.menuAd {background:#eee url(admark_s.gif) no-repeat right 5px;text-align: center;}
.vgMenu li li.menuAd a{padding:7px 10px;}
.vgMenu li li.menuAd a:hover{background:transparent;}

/*** ARROWS ***/
.vgMenu li li.arrow, .vgMenu li li.arrow a:focus, .vgMenu li li.arrow a:hover, .vgMenu li li.arrow a:active
{background-image:url('menuArro.gif');background-position: center right; background-repeat: no-repeat;}
.vgMenu li li.arrow li a:focus, .vgMenu li li.arrow li a:hover, .vgMenu li li.arrow li a:active{background-image: none;}

/*** SHADOWS for all but IE6 ***/
.vgMenu.sf-shadow ul {
    background:transparent url('horizont.png') no-repeat bottom right;
    padding: 0 10px 10px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.vgMenu.sf-shadow ul.sf-shadow-off {background: transparent;}

/*** SITE MAP ***/
#siteMap {
    display:none;
    position:absolute;
    top:62px;
    left:0;
    width:990px;
    z-index:9999;
}
#siteMap .content{
    padding:10px 0;
    background:#000;
    color:#fff;
    filter:alpha(opacity=80);-moz-opacity:.9;opacity:.90;
}
#siteMap .span-4{ /* originalbredden er redusert grunnet plass til scrollbar */
    width:190px;
}
#siteMap h2{
    padding-left:205px;
    height:25px;
    line-height:25px;
    text-transform:uppercase;
    background-color: #000;
    background-position: 0 -62px;
    color:#fff;
    font-size: 14px;
    font-weight: normal;
}
#siteMap a.closeBtn {
	margin: 0;
    display: block;
    height: 23px;
    width: 68px;
    float: right;
    background-position: -69px -142px;
    text-indent: -5000px;
}
#siteMap a.closeLink{
    display:block;
    padding-top:5px;
    text-align:center;
    background:#000;
    color:#fff;
    filter:alpha(opacity=90);-moz-opacity:.9;opacity:.90;
    font-weight:bold;
    border-top:1px solid #444;
}
#siteMap h3{
    border-bottom:1px solid #ccc;   
    padding:0 3px;
    margin: 10px 3px 0 3px;
}
#siteMap ul{margin-bottom:10px;}
#siteMap ul li a{
    margin:0 3px;
    padding:0 3px;
    font-size:.85em;
    display:block;
    height:17px;
    line-height:17px;
    overflow:hidden;
    color:#eee;
    text-decoration:none;
}
#siteMap ul li a:hover{
    color:#000;
    background-color:#ccc;
    text-decoration:none;
}
#siteMap .rc2,#siteMap .rc3,#siteMap .rc4 {background:#000; border-left:1px solid #000; border-right:1px solid #000;filter:alpha(opacity=90);-moz-opacity:.9;opacity:.90;}#siteMap .rc1 {margin:0 5px; background:#000;filter:alpha(opacity=90);-moz-opacity:.9;opacity:.90;}#siteMap .rc4 {height:2px; margin:0 1px;}
#siteMap a.new {
    padding-left:35px;
    background:transparent url(newMenuI.gif) no-repeat 5px 2px;
}