/* .................................................

Shared.css
Stilark som deles av Dr.Front 1.5 -frontene
Brukes sammen med unike front-stilark.

CSS av Morten Mitchell Laroed/Patrik Henningsson 2009
Bearbeidet av Hilde Skjolberg.

................................................... */

/***********************************************************************************
 * Reset CSS based on http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ *
 ***********************************************************************************/
.drfront div,.drfront span,.drfront applet,.drfront object,.drfront iframe,.drfront h1,.drfront h2,.drfront h3,.drfront h4,.drfront h5,.drfront h6,.drfront p,.drfront blockquote,.drfront pre,.drfront a,.drfront abbr,.drfront acronym,.drfront address,.drfront big,.drfront cite,.drfront code,.drfront del,.drfront dfn,.drfront em,.drfront font,.drfront img,.drfront ins,.drfront kbd,.drfront q,.drfront s,.drfront samp,.drfront small,.drfront strike,.drfront strong,.drfront sub,.drfront sup,.drfront tt,.drfront var,.drfront dl,.drfront dt,.drfront dd,.drfront ol,.drfront ul,.drfront li,.drfront fieldset,.drfront form,.drfront label,.drfront legend,.drfront table,.drfront caption,.drfront tbody,.drfront tfoot,.drfront thead,.drfront tr,.drfront th,.drfront td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}

.drfront em {font-style: italic;}

.drfront :focus {outline: 0;}
.drfront {line-height: 1; color: #000;	background: #fff;}
.drfront ol, .drfront ul {list-style: none;}
.drfront table {border-collapse: separate; border-spacing: 0;}
.drfront caption, .drfront th, .drfront td {text-align: left; font-weight: normal;}
.drfront blockquote:before, .drfront blockquote:after, .drfront q:before, .drfront q:after {content: "";}
.drfront blockquote, .drfront q {quotes: "" "";}

/* Wrapper for the entire front */
.drfront {font:16px 'Times New Roman', Times, serif; width:590px; margin:0 0 15px; padding:0;}
.drfront  {color: #000;}
.drfront a:link, .drfront a:hover, .drfront a:active {color: #e00b04; text-decoration: underline;}
.drfront a:visited {color: #808080; text-decoration: underline;}
.drfront a {color: #e00b04;}
.drfront img {border: 0; vertical-align: middle;}
.drfront img.article-image, .drfront iframe.article-image {margin: 0;}

.drfront img.snippet {margin-bottom: 3px;}

/* Article title */
.drfront h1,.drfront h2,.drfront h3,.drfront h4,.drfront h5,.drfront h6 {line-height: 100%; font-size: 100%; font-weight: bold; color: #000; margin: 0; padding: 0;}

.drfront h1 span,.drfront h2 span,.drfront h3 span,.drfront h4 span,.drfront h5 span,.drfront h6 span,
.drfront h1 font,.drfront h2 font,.drfront h3 font,.drfront h4 font,.drfront h5 font,.drfront h6 font,
.drfront h3 a {line-height: 100%; margin: 0; padding: 0; color: #000;}

.drfront h1 a:link, .drfront h1 a:hover, .drfront h1 a:visited, .drfront h1 a:active,
.drfront h2 a:link, .drfront h2 a:hover, .drfront h2 a:visited, .drfront h2 a:active,
.drfront h3 a:link, .drfront h3 a:hover, .drfront h3 a:visited, .drfront h3 a:active,
.drfront h4 a:link, .drfront h4 a:hover, .drfront h4 a:visited, .drfront h4 a:active,
.drfront h5 a:link, .drfront h5 a:hover, .drfront h5 a:visited, .drfront h5 a:active,
.drfront h6 a:link, .drfront h6 a:hover, .drfront h6 a:visited, .drfront h6 a:active {color: #000; text-decoration: none;}

/* Article text */
.drfront p {margin: 0; padding: 0;}
.drfront strong {font-weight: bold;}

/* Lists */
.drfront ol {margin: 5px 0;}
.drfront ol li {padding: 0; list-style-position: inside; list-style-type: decimal;}
.drfront ul {margin: 5px 0;}
.drfront ul li {padding: 0; list-style-position: inside; list-style-type: disc;}

/* Container for all the articles */
.drfront .articles {background: #fff;}

/* Container for the article */
.drfront .article-extract {background: url('p0000000.gif') left top no-repeat; margin: 0 10px 5px 0; padding: 8px 0 0; overflow: hidden; border-top: none;}
.drfront .article-extract.df-right-in-row {margin-right: 0;}
/*.drfront .df-left-in-row {clear: left;}    KOMMENTERT BORT AV HILDE FORDI DET FIKK ALT TIL ? SPREKKE  */

.drfront .article-extract-full {width: 590px;}
.drfront .article-extract-three-fourth {width: 440px;}
.drfront .article-extract-three-fifth {width: 340px;}
.drfront .article-extract-half {width: 290px;}
.drfront .article-extract-two-fifth {width: 240px;}
.drfront .article-extract-one-third {width: 190px;}
.drfront .article-extract-one-fourth {width: 140px;}

#drfront .article-extract, .drfront .article-extract { position: relative }

/* Article clearer */
.drfront .clearer {clear: both; font-size: 1px;}

/* Positions for the article */
.drfront .left {float: left;}
.drfront .right {float: right;}

/* Article skins */
.drfront .no-border {border: none;}

.drfront .bg-red {background-color: #c00; border: 1px solid #400; border-top: none; color: #fff;}
.drfront .bg-green {background-color: #0c0; border: 1px solid #040; border-top: none;}
.drfront .bg-blue {background-color: #00c; border: 1px solid #004; border-top: none;}
.drfront .bg-transparent {background-color: transparent;}
.drfront .bg-nbrd,
.drfront .article-extract-full.row-1 {padding: 0; border: none; background: transparent;}

.drfront .bg-ad {padding:0; text-align: center; background: transparent url(admark_r.gif) no-repeat right top;}
.drfront .bg-ad object,
.drfront .bg-ad img,
.drfront .bg-ad iframe {margin-right:9px;}

/* Image borders and margins*/
.drfront .img-brd-0 img.article-image {border: none;}
.drfront .img-brd-1 img.article-image, .drfront .img-brd-2 img.article-image {border: 1px solid #000;}
.drfront img.left {margin-right: 5px;}
.drfront img.right {margin-left: 5px;}

/* Container Skins */
.drfront .df-container {clear: both; margin-bottom: 10px; padding: 0;}
.drfront .df-container-inner {padding-bottom: 3px; background: #efeff3; border-bottom: 1px solid #abc2d5;}
.drfront .df-container-footer {clear: both;}

.drfront .df-container-header {margin-bottom: 5px; height: 30px; border-bottom: 1px solid #abc2d5; background: url(sprite_s.jpg) no-repeat left;}
/*.drfront .df-container-footer {font-size: 0; height: 16px; background: url(rounded-corners.gif) no-repeat -17px -15px;}*/
/*.drfront .df-container-footer-inner {float: right; height: 16px; width: 16px; font-size: 0; background: url(rounded-corners.gif) no-repeat 1px -15px;}*/

.drfront .df-container-skin-default {margin-bottom:0;}
.drfront .df-container-skin-default .df-container-inner {padding-bottom:0; background: none;}
.drfront .df-container-skin-default .df-container-header {margin-bottom:0 ;height:0; background: none;}

.drfront .df-container-skin-aktuelt .df-container-header {background-position: 50% 0;}
.drfront .df-container-skin-bilogmotor .df-container-header {background-position: 50% -30px;}
.drfront .df-container-skin-sport .df-container-header {background-position: 50% -60px;}
.drfront .df-container-skin-fotball .df-container-header {background-position: 50% -90px;}
.drfront .df-container-skin-helse .df-container-header {background-position: 50% -120px;}
.drfront .df-container-skin-matogdrikke .df-container-header {background-position: 50% -150px;}
.drfront .df-container-skin-okonomi .df-container-header {background-position: 50% -180px;}
.drfront .df-container-skin-rampelys .df-container-header {background-position: 50% -210px;}
.drfront .df-container-skin-musikk .df-container-header {background-position: 50% -240px;}
.drfront .df-container-skin-reise .df-container-header {background-position: 50% -270px;}
.drfront .df-container-skin-spill .df-container-header {background-position: 50% -300px;}
.drfront .df-container-skin-teknologi .df-container-header {background-position: 50% -330px;}
.drfront .df-container-skin-vaer .df-container-header {background-position: 50% -360px;}
.drfront .df-container-skin-minmote .df-container-header {background-position: 50% -390px;}
.drfront .df-container-skin-vgtv .df-container-header {background-position: 50% -420px;}
.drfront .df-container-skin-live .df-container-header {background-position: 50% -450px;}
.drfront .df-container-skin-foravspark .df-container-header {background-position: 50% -480px;}
.drfront .df-container-skin-tjenester .df-container-header {background-position: 50% -540px;}
.drfront .df-container-skin-vektklubb .df-container-header {background-position: 50% -570px;}

.drfront .df-container-skin-lesernesvg .df-container-header { background:#333 url('sprite_g.png') no-repeat 0 0;}

/* Snippets and icons */
.drfront img.drFrontTips {margin:2px 0 1px;}

/**********************************************
 * Fixes for IE                               *
 *********************************************/

/* fixes bug with invisible text */
.drfront img.article-image {display: block;}

/* doubled-margin bug */
.drfront .article-extract {display: inline;}

/* doubled-margin bug */
.drfront img.left, .drfront img.right {display: inline;}

/* br should not consume any space */
.drfront br {line-height: 0;}

.drfront .hidden {display: none;}

