# Entries automatically added by module_cleaner.py
testsuite/charconv/autodetect/ru/ibm866.html -crlf
testsuite/charconv/autodetect/ru/iso-8859-5.html -crlf
testsuite/charconv/autodetect/ru/koi8-r.html -crlf
testsuite/charconv/autodetect/ru/utf8.html -crlf
testsuite/charconv/autodetect/ru/windows-1251.html -crlf
testsuite/charconv/htmldetect/bugs/316782.html -crlf
testsuite/charconv/htmldetect/bugs/335800.html -crlf
