<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.w3.org/ns/widgets">
	<name>Test Widget 1.2 widget</name>
	<content src="index.html"/>
	<feature name="http://jil.org/jil/api/1.1/widget" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exception" required="true"/>
	<feature name="http://jil.org/jil/api/1.1.5/exceptiontypes" required="true"/>

	<preference name="default_rw" value="config.xml" />
	<preference name="default_ro" value="config.xml - readonly" readonly="true" />
</widget>
