/* Common style sheet for all core documentation */

body {
  margin: 2em;
  padding: 1em 0;
  /* font-family: sans-serif; */
  background: white;
  color: black;
}

DIV.logo { /* the Opera logo */
  float: right;
}

h1, h2, h3 {
  font-weight: normal;
}

h2 {
	clear: both;
}

dt{
	font-weight: bold;
}
h1 {
   counter-reset: header2;
   clear: both;
}

h2:before{
   content: counter(header2) "  ";
}

h2 {
   counter-increment: header2;
   background: #EEE;
   counter-reset:header3;
}

h3:before {
   content: counter(header2) "." counter(header3) "  ";
}

h3 {
   counter-increment: header3;
   counter-reset:header4;
}

h4:before {
   content: counter(header2) "." counter(header3) "." counter(header4) "  ";
}

h4 {
	counter-increment: header4;
}

dl.metadata {
  margin-bottom: 3em;
  padding: 0.3em;
  background: #EEE;
}

.metadata dt {
  font-weight: bold;

}

.metadata dt:after {
  content: ":";
}

.metadata .distribution {
	text-transform: uppercase;
	font-weight: bold;
	color: red;
}
.even{
	background: #FFC;
}

.odd{
	background: #FFE;
}

th {text-align: left; background: #CC9}
th, td {vertical-align: top;  font-size: small;}

.element {
	font-family: monospace;
	font-weight: bold;
	color: #006;
}

.attribute {
	font-family: monospace;
	font-weight: bold;
	color: #060;
}

.code {
  font-family: monospace;
  font-size: smaller;
}

.comment {
  color: #0B0;
}

.ok {
  color: green
}

.not-started {
  color: red
}

.in-progress {
  color: orange
}

.active {
  background-color: yellow
}

.milestone {
  background-color: lightblue
}

.done {
  background-color: lightgreen;
}
